<header id="header">
    <div class="center">
      <div id="logo">
        <!-- logo-->
        <img src="../../../assets/images/mt.jpg" alt="MT">
        <span id="brand">
          <strong>M.T</strong>Portafolio
        </span>
      </div>
      <nav id="menu">
        <!-- menu-->
        <ul>
          <li>
            <a [routerLink]="['/presentacion']" >¿Quien Soy?</a>
          </li>
          <li>
            <a [routerLink]="['/educacion']" >Educacion</a>
          </li>
          <li>
            <a [routerLink]="['/proyectos']" >Proyectos</a>
          </li>
          <li>
            <a [routerLink]="['/formulario']" >Contactarme</a>
          </li>
        </ul>
      </nav>
      <!-- limpiarflotado-->
      <div class="clearfix"></div>
    </div>
  </header>