<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <section class="buttons">
      <a href="https://www.facebook.com/maxi.torales.94" class="fa fa-facebook"></a>
      <a href="https://github.com/maxi41305/practico1frontend" class="fa fa-github"></a>
      <a href="#" class="fa fa-google-plus"></a>
   
      <a href="https://www.linkedin.com/in/maxii-torales-880ba0154/" class="fa fa-linkedin"></a>
    </section>
   

</html>