<div>
    <main class="main">
      <div class="info-content">
        <h1><span>Soy Maxi  Torales</span></h1>
         <p>Tengo 24 Años, vivo en Argentina-Misiones-Jardin America, siempre estoy en contanste capacitacion en diversos cursos, ya que para mi "la mayor riquiesa es el conocimiento y la educacion", me encanta la programacion</p>
         <a download href="../../../assets/images/Curriculum vitae Maxi nuevo.docx"><button class="download-cv">Download CV</button></a>
      </div>
      <img src="https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543288/samples/pexels-photo-1516680-removebg-preview_f7yxxl.png" alt="">
    </main>
</div>
      <!-- limpiarflotado-->
      <div class="clearfix"></div>